@{
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/styles.css" rel="stylesheet" />

<script>
    function varifyEmail() {
        var email = $("#email").val();
        $.getJSON("CheckEmailAvailability?Email=" + email, function (data) {
            if (!data) {
                $("#error").text("Email is not Registered yet.....!!!!");
            }

        });
    }
</script>
<h2 style="margin-top:100px">Enter your Email Id and a temporary password will be E-Mail to you. That password will expire after your first Login so chage your password.</h2>
<div id="loginModal" style="margin-top:170px" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-center">Forgot Password</h1>
            </div>
            <div class="modal-body">
                <form action="EmailSent" method="post" class="form col-md-12 center-block">
                    <div class="form-group">
                        <input type="email" name="recoveryEmail" id="email" class="form-control input-lg" placeholder="E-Mail" required />
                        <span id="error" style="color:red;font-size:x-large"> </span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Email"class="btn btn-primary btn-lg btn-block" />
                    </div>
                </form>
            </div>
            <div class="col-m-12">
            </div>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</div>
